.comment-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  /* margin: 0.5rem 0; */
}

.writer-avatar {
  padding: 0 0.5rem;
  /* width: 12%; */
}

.commetn-details {
  width: 90%;
}

.comment-info {
  /* width: 97%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(97, 97, 97);
  /* background-color: coral; */
}

.writer-username {
  font-size: 10px;
  letter-spacing: 0.3px;
  padding-right: 1rem;
}

.comment-text {
  padding: 0.4rem 0;
  font-size: 14px;
  letter-spacing: 0.3px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-textarea {
  border-color: rgb(231, 214, 214);
  border-radius: 1rem;
  resize: none;
  outline: none;
  height: 3rem;
  padding-left: 0.5rem;
}

.comment-edit-button {
  position: relative;
  padding-right: 0.3rem;
  border: none;
  width: 1rem;
  height: 1rem;
  background-color: inherit;
  cursor: pointer;
  color: rgb(97, 97, 97);
}

.dropdown-more-button {
  position: absolute;
  border-radius: 10px;
  width: 4rem;
  top: -2rem;
  left: 1.8rem;
  background-color: rgb(255, 254, 254);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 3;
}

.textarea-button {
  width: 4rem;
  height: 2rem;
  padding: 0;
  margin-top: 0.5rem;
  border-radius: 3rem;
}
